<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>不休的音符自制谱库:登录</title>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="js/materialize.min.js"></script>
   <script type="text/javascript" src="sha.js"></script>
   <script type="text/javascript" src="post.js"></script>
   <script type="text/javascript" src="log.js"></script>
   <script type="text/javascript">
       $(document).ready(function(){
           $('.modal').modal();
       });
   </script>

    <nav class="nav-wrapper light-blue lighten-2">
        <div class="container">
            <a onclick="home()" class="blue-text text-lighten-5" style=font-size:40px>&nbsp;不休的音符自制谱库</a>
            <a class="right waves-effect waves-light" style="font-size:24px" href="register">&nbsp;注册&nbsp;</a>
            <a class="right waves-effect waves-light" style="font-size:24px" href="login">&nbsp;登录&nbsp;</a>
            <a class="right modal-trigger waves-effect waves-light" style="font-size:24px" href="#modal1">&nbsp;作者留言&nbsp;</a>
            <div id="modal1" class="modal">
                <div class="modal-content black-text">
                    <h4>作者留言</h4>
                    <br>
                    <p>待开发内容：认证谱师、曲谱打分、曲谱评论、热门推荐</p>
                    <p>寻求用爱发电的前端设计师来合作~</p>
                </div>
            </div>
        </div>
    </nav>
  
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <form name="form" class="col s12 m10 l10" action="#" method="post" enctype="multipart/form-data" onsubmit="return login()">
                <label style="font-size: 20px">用户名</label>
                <input type="text" id="user_name" name="user_name"><br>
                <label style="font-size: 20px">密码</label>
                <input type="password" id="password" name="password"><br>
                <input type="submit" style="font-size: 20px" class="btn light-blue lighten-2" value="登录">
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function login() {
            postForData("sign",
                {
                    "user":document.getElementById('user_name').value,
                    "pw":hex_sha1(document.getElementById('password').value)
                },
                response
            );
        }
        function response(){
            if(xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200){
                var data = JSON.parse(xmlHttpRequest.responseText);
                window.localStorage.setItem('token', data['token']);
                if(data['token'] != ""){
                    postForHtml("index", {"token":window.localStorage.getItem('token')});
                }
                else{
                    alert("用户名或密码错误，请重新输入。");
                }
            }
        }  
    </script>

    <footer class="page-footer light-blue darken-2">
        <div class="container">
            <div class="row">
            <div class="col l6 m6 s12">
                    <h5 class="white-text">联系作者</h5>
                    <ul>
                        <a class="grey-text text-lighten-4">大狱传奇 SuperGP</a><br>
                        <a class="grey-text text-lighten-4">1363028533@qq.com</a><br>
                    </ul>
            </div>
            <div class="col l4 m4 offset-l2 s12">
                    <h5 class="white-text">链接</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://bxdyf.gamekuaishou.com/" target="_blank">不休的音符官网</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.biligame.com/detail/?id=105934&sourceFrom=1112&spm_id_from=333.337.0.0" target="_blank">Bilibili 专区</a></li>
                    </ul>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-copyright col s12">
            <div class="container">
                    &nbsp;© 2022 Copyright SuperGP
            </div>
            </div>
        </div>
    </footer>
</body>
</html>