<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>不休的音符自制谱库:注册</title>
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="js/materialize.min.js"></script>
   <script type="text/javascript" src="sha.js"></script>
   <script type="text/javascript" src="post.js"></script>
   <script type="text/javascript" src="log.js"></script>
   <script type="text/javascript">
       $(document).ready(function(){
           $('.modal').modal();
       });
   </script>

    <nav class="nav-wrapper light-blue lighten-2">
        <div class="container">
            <a onclick="home()" class="blue-text text-lighten-5" style=font-size:40px>&nbsp;不休的音符自制谱库</a>
            <a class="right waves-effect waves-light" style="font-size:24px" href="register">&nbsp;注册&nbsp;</a>
            <a class="right waves-effect waves-light" style="font-size:24px" href="login">&nbsp;登录&nbsp;</a>
            <a class="right modal-trigger waves-effect waves-light" style="font-size:24px" href="#modal1">&nbsp;作者留言&nbsp;</a>
            <div id="modal1" class="modal">
                <div class="modal-content black-text">
                    <h4>作者留言</h4>
                    <br>
                    <p>待开发内容：认证谱师、曲谱打分、曲谱评论、热门推荐</p>
                    <p>寻求用爱发电的前端设计师来合作~</p>
                </div>
            </div>
        </div>
    </nav>
  
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <form name="form" class="col s12 m10 l10" action="#" method="post" enctype="multipart/form-data" onsubmit="return register()">
                <label style="font-size: 20px">用户名</label>
                <input type="text" id="user_name" name="user_name"><br>
                <label style="font-size: 20px">绑定手机号</label>
                <input type="text" id="phone_num" name="phone_num"><br>
                <label style="font-size: 20px">短信验证码</label>
                <input type="text" id="verify_code" name="verify_code"><br>
                <label style="font-size: 20px">密码</label>
                <input type="password" id="password" name="password"><br>
                <label style="font-size: 20px">确认密码</label>
                <input type="password" id="password_confirm" name="password_confirm"><br>
                <label style="font-size: 20px">昵称</label>
                <input type="text" id="nickname" name="nickname"><br>
                <input type="submit" style="font-size: 20px" class="btn light-blue lighten-2" value="注册">
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function register() {
            var user = document.getElementById('user_name').value;
            var phone = document.getElementById('phone_num').value;
            var pw = document.getElementById('password').value;
            var pwc = document.getElementById('password_confirm').value;
            var nick = document.getElementById('nickname').value;

            if(user == "" || phone == "" || pw == "" || pwc == "" || nick == ""){
                alert("输入不可为空。")
                return;
            }
            if(pw != pwc){
                alert("两次密码输入不一致。")
                return;
            }
            if(phone.length!=11){
                alert("手机号位数有误。")
                return;
            }

            postForData("create",
                {
                    "user":user,
                    "pw":hex_sha1(pw),
                    "phone":phone,
                    "nick":nick
                },
                response
            );
        }
        function response(){
            if(xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200){
                var data = JSON.parse(xmlHttpRequest.responseText);
                if(data['result']=="fail"){
                    alert(data['msg']);
                }
                else{
                    alert("创建账户成功。");
                    postForHtml("index", {"token":""});
                }
            }
        }  
    </script>

    <footer class="page-footer light-blue darken-2">
        <div class="container">
            <div class="row">
            <div class="col l6 m6 s12">
                    <h5 class="white-text">联系作者</h5>
                    <ul>
                        <a class="grey-text text-lighten-4">大狱传奇 SuperGP</a><br>
                        <a class="grey-text text-lighten-4">1363028533@qq.com</a><br>
                    </ul>
            </div>
            <div class="col l4 m4 offset-l2 s12">
                    <h5 class="white-text">链接</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://bxdyf.gamekuaishou.com/" target="_blank">不休的音符官网</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.biligame.com/detail/?id=105934&sourceFrom=1112&spm_id_from=333.337.0.0" target="_blank">Bilibili 专区</a></li>
                    </ul>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-copyright col s12">
            <div class="container">
                    &nbsp;© 2022 Copyright SuperGP
            </div>
            </div>
        </div>
    </footer>
</body>
</html>